@import "tailwindcss";

:root {
  --background-primary: #ffffff;
  --background-secondary: #C1121F;

  --text-primary: #ffffff;
  --text-secondary: #5F5F5F;
  --text-red: #C1121F;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background-primary);
  color: var(--text-secondary);
  overflow-x: hidden;
  font-family: 'Cormorant Garamond', Georgia, serif;
}


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 25s linear infinite;
}

@keyframes reverseSpin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.animate-reverse-spin {
  animation: reverseSpin 25s linear infinite;
}